 body {
      background-color: #fff;
      font: 400 15px/1.8 Lato, sans-serif;
      color: #777;
  }
.navbar-default{
  background-color: #337ab7;
  border-color: transparent;
}
.navbar-default .navbar-nav>li>a{
  color: #fff;
  margin-top:16px; 
  font-size: 18px;
}
.navbar-brand{
  padding: 4px 15px;
}
li>a{
  font-family: inherit;
    font-size: 14px;
  }
.centered {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}
.header-image {
    position: relative;
    text-align: center;
    color: white;
}
#logo{
  font-size: 9vw;
}
#shiori{
  font-size: 4vw;
}
.img-rounded{
  
  width: 50%; 
}
#textt{
  border-color: #000;
  color:#FF1493;
  font-size: 23px;
  text-align: center;
}
#ttt{
    background-color: #F4F4F4;
}
.carousel-inner>img{
  width: 50%;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #2e6da4;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #2e6da4;
}
.modal-header, .close {
      background-color: #5cb85c;
      color:white !important;
      text-align: center;
      font-size: 30px;
  }
  .modal-footer {
      background-color: #f9f9f9;
  }
  .btn-default{
    color: #fff;
  }
  input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}
 .panel-body{
  color: #FF1493;
}
.panel-default>.panel-heading{
  background-color: transparent;
}
.panel{
  border: transparent;
  border-radius: 0px;
  margin: 20px;
  -webkit-box-shadow:0 1px 1px rgba(0,0,0,0);
}

a:hover{
  text-decoration:none;
}
button{
 position: relative;
}
#bi{
      width: 100%;
      background-image: url("bi.jpg");
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
      background-size: cover;
}
.fun_facts .section_overlay {
    padding-top: 100px;
    padding-bottom: 100px;
    background: rgba(0, 0, 0, .4);
}
.parallax {
    background-attachment: fixed !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.single_fun_facts i{
  color: #fff;
  font-size: 100px;
}
.single_fun_facts h2 span {
    color: #fff;
    font-size: 50px;
    font-weight: 300;
    font-family: 'Source Sans Pro', sans-serif;
}
.single_fun_facts p {
    color: #D7DADB;
    font-size: 20px;
    margin-top: 0px;
    font-weight: 300;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
}
#certificate{
    float: center;
    border: 1px solid #eee;
    margin-bottom: 25px;
}
#panelling{
    width: 100%;
    margin: 0 auto;
    border: 10px solid transparent;
    border-image: 10 repeating-linear-gradient(45deg, rgb(235, 0, 139), rgb(235, 0, 139) 10px, transparent 10px, transparent 20px, #008ed6 20px, #008ed6 30px,transparent 30px, transparent 40px);
}
.goods {
    background-repeat: no-repeat;
    background-position: center;
    overflow: -webkit-paged-x;
    -webkit-background-size: cover;
    background-size: cover;
}
.goods p {
    font-family: appetite;
    font-size: 20px;
    border-radius: 30px;
    box-shadow: 0 0 7px 3px #337ab7;
    text-indent: 30px;
    padding: 10px 20px 10px 20px;
    margin: auto;
    width: 100%;
}
.pricing-slide {
    background: url(9.jpg);
    background-repeat: no-repeat;
    background-position: fixed;
    -webkit-background-size: cover;
    background-size: cover;
}
.modal-header{
  background-color: #2e6da4;
}
.first-column {
  width: 40%;
  float: left;
}

.second-column {
  width: 40%;
  float: right;
}
.carousel-caption {
    z-index: 0;
  bottom: 0;
right: 0;
left: 0;
}
.carousel{
  overflow: hidden;
}
